body{
    background-color: rgb(175, 88, 255);
}

.tittle h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em

}

.text p{
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 4%;
    line-height: 1.3em;
    
}

footer p {
    display: flex;
    color: black;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    text-decoration: underline;
    
}